body {
  text-align: center;
  max-height: 100%;
  font-family: "Trebuchet MS", sans-serif;
}
.main__section1 {
	color: red;
 	border: 1px solid black;
  	border-color: darkgrey;
 	background-color: gray;
 	margin-bottom: 40px;
}
.main__section {
	background-color: dimgray;
  	border: 1px solid black;
}
p {
	text-align: center;
	margin-left: 35%
	color: white;
  	margin-bottom: 20px;
  }
h3 {
	color: red;
	border: 1px solid black;
  	background-color: white;
  	margin-bottom: 20px;
}